:root {
	--color-primary-500: #4ADE80;
	--color-primary-600: #22C55E;
	--color-in-primary: #064E3B;
	--color-in-secundary-500: #FACC15;
	--color-in-secundary-600: #D97706;
}

*, input, textarea, button {
	font-family: "Poppins", sans-serif;
}

.button {
	--shadow-color: var(--color-in-primary);

	border-radius: 0.3rem;
	border: 1px solid var(--shadow-color);
	background-color: white;
	color: var(--color-in-primary);
	padding: 0.4rem 0.6rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;

	font-weight: bold;
	font-size: 1rem;

	text-decoration: none;

	box-shadow: 0px 12px var(--color-in-primary);
}

.button:active {
	transform: translateY(8px);

	box-shadow: 0px 4px var(--color-in-primary);
}

.yellow {
	--shadow-color: var(--color-in-secundary-600);
	border-color: var(--color-in-secundary-600);
	box-shadow: 0px 12px var(--color-in-secundary-600);
	background-color: var(--color-in-secundary-500);

	color: white;
}

@media (max-width: 600px) {
	body {
		background-image: linear-gradient(-154deg, var(--color-primary-500), var(--color-primary-600));
		background-repeat: no-repeat;

		height: 100vh;
	}
}